* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.07em;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--color1) var(--color5);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {

    --font1: 'Inter', sans-serif;
    --font2: 'Playfair Display', serif;
    --font3: "Noto Sans JP", sans-serif;

    --color1: rgb(22, 23, 30);
    --color2: rgb(32, 33, 38);
    --color3: rgb(153, 155, 166);
    --color4: rgb(180, 181, 191);
    --color5: rgb(255, 255, 255);
    --color6: rgb(238, 238, 238);
}

header {
    background-color: var(--color1);
    position: fixed;
    z-index: 1;
    top: 0em;
    width: 100%;
}

.nav-header {
    padding-right: 8rem;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
}

.item-menu {
    font-size: 1.30rem;
}

.item-nav {
    font-family: var(--font2);
    color: var(--color5);
}

main {
    height: 100%;
}

.about-section {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5rem 0 2.4rem 0;
}

.container-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 8.4rem;
}

.container-about-info {
    display: flex;
    flex-direction: column;
}

.hola-about {
    font-family: var(--font2);
    color: var(--color2);
    font-size: 2.8rem;
    font-weight: 500;
    margin-top: 7.34rem;
}

.nombre-about {
    font-family: var(--font2);
    font-size: 4rem;
    font-weight: 1000;
    margin-top: 1rem;
}

.nombre-about::first-letter {
    color: var(--color3);
}

.descripción-about {
    font-family: var(--font1);
    font-size: 1.4rem;
    font-weight: 200;
    margin-top: 1.66rem;
}

.botón-about {
    margin-top: 2.1rem;
    text-align: center;
    background-color: var(--color1);
    font-size: 1.31rem;
    color: var(--color5);
    font-family: var(--font2);
    font-weight: 300;
    border-radius: 9rem;
    width: max-content;
    padding: 10px 1.25rem;
}

.container-img-about {
    max-width: 32rem;
    min-width: 32rem;
    width: 100%;
}

.about-me-img {
    max-width: 100%;
    margin-left: 3rem;
}

.line {
    height: 1px;
    width: 25%;
    margin: 2em auto;
    background-color: var(--color3);
}

.container-conocimientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.title-conocimientos {
    font-family: var(--font2);
    color: var(--color1);
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.descripción-conocimientos {
    font-family: var(--font1);
    font-weight: 200;
    margin-bottom: 1.5rem;
}

.container-cards-conocimientos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 3rem;
    max-width: 50rem;
}

.card-conocimientos {
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color4);
    border-radius: 2rem;
    padding: 2rem 4rem;
}

.icon-card-conocimientos {
    font-size: 7rem;
    margin-left: 10px;
}

.title-card-conocimientos {
    font-family: var(--font1);
    font-weight: 400;
    padding-top: 1rem;
    color: var(--color2);
}

.quote-section {
    background-color: var(--color4);
}

.container-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    margin: auto;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.quote-absurd {
    width: 7.1875rem;
}

.quotation-marks {
    font-size: 7rem;
}

.quote {
    font-family: var(--font2);
    color: var(--color5);
    font-size: 2rem;
    font-weight: 600;
    quotes: none;
}

.quote-author {
    font-family: var(--font1);
    color: var(--color1);
    font-size: 1.5rem;
    font-weight: 300;
}

.container-proyects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.title-proyects {
    font-family: var(--font2);
    color: var(--color1);
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.descripción-proyects {
    font-family: var(--font1);
    font-weight: 200;
    margin-bottom: 1.5rem;
}

.container-cards-proyects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 60rem;
    row-gap: 2.5rem;
}

.card-proyect {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color4);
    border-radius: 2rem;
    padding: 1rem 1rem;
}

.img-card-proyects {
    width: 100%;
    margin-bottom: 10px;
    padding: 1.5rem;
}

.hola {
    padding: 0;
    padding-top: 1rem;
}

.title-card-proyects {
    font-family: var(--font1);
    font-weight: 400;
    padding-top: 1rem;
    color: var(--color2);
    margin-bottom: 1rem;
}

.contact-section {
    margin-top: 6.5rem;
    padding-bottom: 5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1475' height='581' preserveAspectRatio='none' viewBox='0 0 1475 581'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1445%26quot%3b)' fill='none'%3e%3cpath d='M1177.0728660171521 67.00867546757203L1085.3437503049627 172.5309522051952 1190.8660270425858 264.26006791738473 1282.5951427547752 158.73779117976153z' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M383.6170185422534 137.33394280021284L298.1136802408381 186.69931818514658 414.9134124689464 290.27163794480265z' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M164.098%2c487.614C205.297%2c484.918%2c232%2c448.522%2c251.694%2c412.235C270.219%2c378.101%2c281.511%2c338.672%2c263.647%2c304.187C244.457%2c267.142%2c205.754%2c240.836%2c164.098%2c243.141C125.345%2c245.285%2c102.033%2c281.021%2c81.96%2c314.239C60.828%2c349.21%2c36.615%2c388.238%2c54.109%2c425.164C73.456%2c466%2c119.007%2c490.564%2c164.098%2c487.614' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1016.84 283.04 a131.82 131.82 0 1 0 263.64 0 a131.82 131.82 0 1 0 -263.64 0z' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M580.9317611898626 388.0095496050379L501.41754853141504 400.60336367479226 560.0653759652704 513.5777756275864z' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M93.60089965806122 258.5201299576509L196.72657105823706 322.960201410693 261.1666425112792 219.83453001051717 158.04097111110332 155.39445855747508z' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M641.608%2c269.216C673.687%2c267.834%2c697.326%2c243.69%2c714.394%2c216.493C733.009%2c186.831%2c752.867%2c150.665%2c734.854%2c120.634C717.09%2c91.017%2c676.141%2c94.713%2c641.608%2c95.14C608.19%2c95.553%2c570.676%2c94.994%2c552.273%2c122.892C532.504%2c152.861%2c538.377%2c192.627%2c557.085%2c223.269C574.995%2c252.604%2c607.27%2c270.695%2c641.608%2c269.216' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M457.9078189933535-12.554837576360342L321.1210060176612 72.73789579373639 444.36740212034033 141.05448871238468z' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M709.82%2c83.176C733.867%2c83.205%2c747.771%2c59.09%2c760.128%2c38.461C773.013%2c16.95%2c788.893%2c-7.313%2c777.359%2c-29.578C765.275%2c-52.904%2c736.089%2c-58.929%2c709.82%2c-58.653C684.133%2c-58.383%2c656.482%2c-51.008%2c644.693%2c-28.185C633.511%2c-6.536%2c647.42%2c17.307%2c659.721%2c38.34C671.847%2c59.075%2c685.8%2c83.147%2c709.82%2c83.176' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M551.6312480038035 472.3466274132958L379.6301856432465 469.18036430302817 450.2300016271464 601.9593066725297z' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1312.7323973971736 457.803601016901L1185.7708164754438 522.4937576045686 1377.4225539848412 584.7651819386307z' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M729.4940646812345 384.9658918974606L708.9135214613979 217.35081823920754 541.2984478031448 237.93136145904415 561.8789910229814 405.5464351172972z' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M286.60942337602717 148.0585576787454L354.19447669118483 64.59796751558734 195.21106478886895 4.950682624429874z' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M469.97 467.69 a98.68 98.68 0 1 0 197.36 0 a98.68 98.68 0 1 0 -197.36 0z' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M516.1956479272484 200.10188892906498L444.6626440661194 250.18983746341178 494.7505926004662 321.72284132454075 566.2835964615952 271.63489279019393z' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1418.7481847044246 476.72949226586024L1459.3251878669025 313.9840216417701 1296.5797172428124 273.4070184792922 1256.0027140803345 436.1524891033823z' fill='rgba(180%2c 181%2c 191%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1445'%3e%3crect width='1475' height='581' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.line-contact {
    height: 1px;
    width: 25%;
    background-color: var(--color3);
    margin: auto auto 4.125rem auto;
}

.container-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 8rem;
    max-width: 70%;
    margin: auto;
}

.column-social-media {
    display: flex;
    flex-direction: column;
}

.contact-title {
    font-family: var(--font2);
    color: var(--color1);
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.descripción-contacto {
    font-family: var(--font3);
    font-weight: 300;
    margin-bottom: 2.3rem;
    position: relative;
}

.tooltip {
    display: none;
    text-align: center;
    position: absolute;
    font-family: var(--font2);
    background-color: var(--color1);
    color: var(--color5);
    padding: 10px;
    border-radius: 5px;
    z-index: 2
}

.descripción-contacto:hover .tooltip {
    display: block;
}

.container-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icon-contact-link {
    font-size: 2rem;
    margin-right: 2rem;
}

i.fa-solid.fa-envelope.icon-contact-link {
    margin-left: -3px;
    margin-right: 1.5rem;
}

.contact-link {
    display: flex;
    align-items: center;
    font-family: var(--font1);
    font-weight: 300;
    color: var(--color2);
}

.column-form {
    display: flex;
    flex-direction: column;
}

.fsname-container {
    display: flex;
    gap: 1rem;
}

.form-input {
    height: 4rem;
    display: block;
    flex-grow: 2;
    margin-bottom: 2.3rem;
}

label {
    font-family: var(--font2);
    font-weight: 300;
    color: var(--color2);
    font-size: 1.2rem;
    display: block;
    padding-bottom: 1rem;
}

input, textarea {
    border: 1px solid var(--color3);
    border-radius: 10px;
    padding: 0.3em 0.3em;
    width: 100%;
    font-family: var(--font1);
    font-size: 1rem;
    font-weight: 200;
    color: var(--color2);
    resize: none;
}

.form-input-message {
    height: 5.1rem;
    display: block;
    flex-grow: 2;
    margin-bottom: 2.3rem;
}

.submit-container {
    margin-top: 2.3rem;
}

input[type=submit] {
    border-radius: 1rem;
    background-color: var(--color1);
    border-style: none;
    color: var(--color5);
    font-weight: 300;
    padding: 0.5rem 0.3125rem;
    width: 6.25em;
    display: block;
}

footer {
    height: auto;
    background-color: var(--color1);
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
    padding: 2rem 2rem;
    color: var(--color5);
    font-family: var(--font2);
    font-size: 1.2rem;
}

.nav-footer {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.nav-footer a {
    color: var(--color5);
}

.link-footer {
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
}

.link-footer i {
    background-color: var(--color5);
    color: var(--color1);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

i.fa-brands.fa-linkedin-in {
    padding-right: 8px;
}

i.fa-solid.fa-envelope {
    padding-right: 8px;
}

footer a {
    color: var(--color5);
}

.yatnla-footer {
    font-size: 1rem;
}

@media (max-width: 1024px) {
    header {
        display: none;
    }
    
    .container-about {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        text-align: center;
    }

    .container-about-info {
        align-items: center;
    }

    .botón-about {
        font-weight: 200;
    }

    .container-cards-conocimientos {
        justify-content: space-evenly;
        row-gap: 2rem;
    }

    .container-contact {
        flex-wrap: wrap;
    }
    
    footer {
        display: none;
    }
}

@media (max-width: 500px) {
    header {
        display: none;
    }
    
    .about-section {
        display: flex;
        justify-content: center;
        padding-inline: 3.73rem;
    }
    
    .container-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.33rem;
        width: 100%;
    }
    
    .hola-about {
        font-size: 2.1rem;
    }
    
    .nombre-about {
        font-size: 3.3rem;
    }
    
    .descripción-about {
        font-size: 1rem;
    }
    
    .botón-about {
        margin-top: 1.7rem;
        font-size: 0.8rem;
        font-weight: 400;
    }
    
    .container-img-about {
        max-width: 32rem;
        min-width: 32rem;
        width: 100%;
        display: contents;
    }
    
    .about-me-img {
        width: 100%;
        height: 100%;
    }
}