* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.07em;
    scroll-behavior: smooth;
}

:root {

    --font1: 'Inter', sans-serif;
    --font2: 'Playfair Display', serif;
    --font3: "Noto Sans JP", sans-serif;

    --color1: rgb(22, 23, 30);
    --color2: rgb(32, 33, 38);
    --color3: rgb(153, 155, 166);
    --color4: rgb(180, 181, 191);
    --color5: rgb(255, 255, 255);
    --color6: rgb(238, 238, 238);
}

body {
    height: 100vh;
}

header {
    background-color: var(--color1);
    position: fixed;
    z-index: 1;
    top: 0em;
    width: 100%;
}

@media (max-width:970px) {
    header {
        display: none;
    }
}

.nav-header {
    padding-right: 8rem;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    list-style: none;
}

.item-menu {
    font-size: 1.30rem;
}

.item-nav {
    font-family: var(--font2);
    color: var(--color5);
    text-decoration: none;
}

main {
    height: 100%;
}

.about-section {
    display: flex;
    justify-content: center;
    padding: 50px 100px;
}

@media (max-width:970px) {
    .about-section {
        display: flex;
        justify-content: center;
        padding-inline: 3.73rem;
    }
}

.container-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 8.45rem;
}

@media (max-width:970px) {
    .container-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.33rem;
        width: 100%;
    }
}

.container-about-info {
    display: flex;
    flex-direction: column;
}

.hola-about {
    font-family: var(--font2);
    color: var(--color2);
    font-size: 2.8rem;
    font-weight: 500;
    margin-top: 7.34rem;
}

@media (max-width:970px) {
    .hola-about {
        font-size: 2.1rem;
    }
}

.nombre-about {
    font-family: var(--font2);
    font-size: 4rem;
    font-weight: 1000;
    margin-top: 1rem;
}

@media (max-width:970px) {
    .nombre-about {
        font-size: 3.3rem;
    }
}

.nombre-about::first-letter {
    color: var(--color3);
}

.descripción-about {
    font-family: var(--font1);
    font-size: 1.4rem;
    font-weight: 200;
    margin-top: 1.66rem;
}

@media (max-width:970px) {
    .descripción-about {
        font-size: 1rem;
    }
}

.botón-about {
    margin-top: 2.1rem;
    text-decoration: none;
    text-align: center;
    background-color: var(--color1);
    font-size: 1.31rem;
    color: var(--color5);
    font-family: var(--font2);
    font-weight: 300;
    border-radius: 9rem;
    width: max-content;
    padding: 10px 20px;
}

@media (max-width:970px) {
    .botón-about {
        margin-top: 1.7rem;
        font-size: 0.8rem;
        font-weight: 400;
    }
}

.container-img-about {
    max-width: 32rem;
    min-width: 32rem;
    width: 100%;
}

@media (max-width:970px) {
    .container-img-about {
        max-width: 32rem;
        min-width: 32rem;
        width: 100%;
        display: contents;
    }
}

.about-me-img {
    max-width: 100%;
}

@media (max-width:970px) {
    .about-me-img {
        width: 100%;
        height: 100%;
    }
}

.line {
    height: 1px;
    width: 25%;
    margin: 2em auto;
    background-color: var(--color3);
}

.container-conocimientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.title-conocimientos {
    font-family: var(--font2);
    color: var(--color1);
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.descripción-conocimientos {
    font-family: var(--font1);
    font-weight: 200;
    margin-bottom: 1.5rem;
}

.container-cards-conocimientos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 3rem;
    max-width: 50rem;
}

.card-conocimientos {
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color4);
    border-radius: 2rem;
    padding: 2rem 4rem;
}

.icon-card-conocimientos {
    font-size: 7rem;
    margin-left: 10px;
}

.title-card-conocimientos {
    font-family: var(--font1);
    font-weight: 400;
    padding-top: 1rem;
    color: var(--color2);
}

.quote-section {
    background-color: var(--color4);
}

.container-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    margin: auto;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.quote-absurd {
    width: 115px;
}

.quotation-marks {
    font-size: 7rem;
}

.quote {
    font-family: var(--font2);
    color: var(--color5);
    font-size: 2rem;
    font-weight: 600;
    quotes: none;
}

.quote-author {
    font-family: var(--font1);
    color: var(--color1);
    font-size: 1.5rem;
    font-weight: 300;
}

.container-proyects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.title-proyects {
    font-family: var(--font2);
    color: var(--color1);
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.descripción-proyects {
    font-family: var(--font1);
    font-weight: 200;
    margin-bottom: 1.5rem;
}

.container-cards-proyects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 60rem;
    row-gap: 2.5rem;
}

.card-proyect {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color4);
    border-radius: 2rem;
    padding: 1rem 1rem;
}

.img-card-proyects {
    width: 100%;
    margin-bottom: 10px;
    padding: 1.5rem;
}

.hola {
    padding: 0;
    padding-top: 16px;
}

.title-card-proyects {
    font-family: var(--font1);
    font-weight: 400;
    padding-top: 1rem;
    color: var(--color2);
    margin-bottom: 1rem;
}

.contact-section {
    margin-top: 6.5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1475' height='484' preserveAspectRatio='none' viewBox='0 0 1475 484'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3cpath d='M1362.28%2c327.313C1406.455%2c325.605%2c1448.746%2c307.634%2c1471.95%2c270.005C1496.353%2c230.431%2c1499.053%2c181.343%2c1477.787%2c139.999C1454.524%2c94.772%2c1413.093%2c58.951%2c1362.28%2c56.791C1307.921%2c54.481%2c1255.149%2c82.013%2c1228.415%2c129.4C1202.095%2c176.054%2c1206.854%2c234.726%2c1236.865%2c279.096C1263.76%2c318.858%2c1314.312%2c329.168%2c1362.28%2c327.313' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M382.88958428679655 199.2319132728926L479.4832850700374 248.44886208280374 528.7002338799485 151.85516129956287 432.10653309670766 102.63821248965174z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M582.8703297522218 205.82177609084525L663.4646869559215 283.6508421552496 741.2937530203259 203.05648495154983 660.6993958166261 125.22741888714549z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M906.0574331934386 41.2576937599827L999.0721919791443 71.48002092981127 1029.294519148973-21.534737855894548 936.2797603632671-51.75706502572312z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M780.54 26.22 a81.32 81.32 0 1 0 162.64 0 a81.32 81.32 0 1 0 -162.64 0z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M251.2042166944022 235.80384940976742L140.6916344077362 292.112822574171 307.51318985880573 346.3164316964334z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M913.931%2c274.751C929.872%2c274.552%2c942.68%2c263.653%2c951.161%2c250.154C960.367%2c235.502%2c967.877%2c217.493%2c959.376%2c202.421C950.779%2c187.178%2c931.43%2c184.275%2c913.931%2c184.142C896.119%2c184.007%2c876.216%2c186.316%2c867.272%2c201.721C858.304%2c217.167%2c865.437%2c236.055%2c875.053%2c251.106C883.806%2c264.806%2c897.675%2c274.954%2c913.931%2c274.751' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1020.41632977867 361.02068220583385L897.8191015178664 387.07952751522515 923.8779468272578 509.6767557760287 1046.4751750880614 483.61791046663745z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1498.6060947342103 113.13661153545272L1369.694342885917 128.96498438136962 1385.5227157318338 257.87673622966304 1514.4344675801271 242.0483633837461z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1184.051825128711 230.37414620616073L1065.8667945285101 295.8851784140745 1131.377826736424 414.0702090142753 1249.5628573366248 348.5591768063615z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M686.0180522051253 413.948302620582L687.040050499157 472.4985456723622 774.3544159298114 441.6904267054244z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1480.638%2c272.569C1526.955%2c275.966%2c1576.761%2c265.206%2c1602.113%2c226.295C1629.482%2c184.289%2c1629.462%2c128.053%2c1602.218%2c85.966C1576.889%2c46.837%2c1527.229%2c37.236%2c1480.638%2c38.638C1436.983%2c39.952%2c1392.08%2c54.613%2c1371.105%2c92.922C1350.761%2c130.079%2c1364.494%2c174.315%2c1386.547%2c210.484C1407.513%2c244.87%2c1440.472%2c269.623%2c1480.638%2c272.569' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1015.962805537685 124.75529716613987L1020.7840676042952 179.86257475281343 1101.0343529510005 145.07704285956137z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M256.4219639851892 320.3981511439349L393.7691151092703 365.0249457656264 301.0487586068807 183.05100001985383z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1446.2608717318935 75.89488504998405L1367.9751561743794 88.29412429396679 1380.3743954183622 166.57983985148095 1458.6601109758763 154.1806006074982z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M546.0592122037281 69.31529259824134L588.7121726726156 153.02644090537572 692.9524148988734 47.19142604847734z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M923.0098979920019 3.88864715593418L824.164609602109-94.95664123395876 725.319321212216 3.8886471559342084 824.164609602109 102.73393554582715z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-2.758%2c325.469C9.405%2c325.288%2c22.31%2c322.333%2c28.435%2c311.824C34.594%2c301.258%2c31.259%2c288.296%2c25.05%2c277.759C18.955%2c267.415%2c9.215%2c259.78%2c-2.758%2c258.889C-16.547%2c257.863%2c-31.598%2c261.202%2c-38.794%2c273.009C-46.212%2c285.18%2c-43.671%2c301.028%2c-35.601%2c312.776C-28.478%2c323.145%2c-15.337%2c325.656%2c-2.758%2c325.469' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M840.9320894110796 342.13125152910516L854.1330826857793 468.89228588534905 945.3934514168573 404.99108776005045z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1195.0507486168824 91.6001565782604L1166.0110906764273 208.0718629622403 1282.4827970604072 237.11152090269533 1311.5224550008622 120.63981451871544z' fill='rgba(180%2c 181%2c 191%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1475' height='484' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.line-contact {
    height: 1px;
    width: 25%;
    background-color: var(--color3);
    margin: auto auto 4.125rem auto;
}

.container-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 8rem;
    max-width: 70%;
    margin: auto;
}

.column-social-media {
    display: flex;
    flex-direction: column;
}

.contact-title {
    font-family: var(--font2);
    color: var(--color1);
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.descripción-contacto {
    font-family: var(--font3);
    font-weight: 300;
    margin-bottom: 2.3rem;
    position: relative;
}

.tooltip {
    display: none;
    text-align: center;
    position: absolute;
    font-family: var(--font2);
    background-color: var(--color1);
    color: var(--color5);
    padding: 10px;
    border-radius: 5px;
    z-index: 2
}

.descripción-contacto:hover .tooltip {
    display: block;
}

.container-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-link {
    list-style: none;
    text-decoration: none;
}

.icon-contact-link {
    font-size: 2rem;
    margin-right: 2rem;
}

.contact-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: var(--font1);
    font-weight: 300;
    color: var(--color2);
}

.column-form {
    display: flex;
    flex-direction: column;
}

.fsname-container {
    display: flex;
    gap: 1rem;
}

.form-input {
    height: 4rem;
    display: block;
    flex-grow: 2;
    margin-bottom: 2.3rem;
}

label {
    font-family: var(--font2);
    font-weight: 300;
    color: var(--color2);
    font-size: 1.2rem;
    display: block;
    padding-bottom: 1rem;
}

input, textarea {
    border: 1px solid var(--color3);
    border-radius: 10px;
    padding: 0.3em 0.3em;
    width: 100%;
    font-family: var(--font1);
    font-size: 1rem;
    font-weight: 200;
    color: var(--color2);
    resize: none;
}

input[type=submit] {
    border-radius: 1rem;
    background-color: var(--color1);
    border-style: none;
    color: var(--color5);
    font-weight: 300;
    padding: 0.5rem 0.3125rem;
    width: 6.25em;
    display: block;
    margin-top: 1rem;
}

footer {
    height: 15rem;
    background-color: var(--color1);
}