/* selector universal */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variables */

:root {

    --font1: 'Inter', sans-serif;
    --font2: 'Playfair Display', serif;

    --color1: rgb(22, 23, 30);
    --color2: rgb(32, 33, 38);
    --color3: rgb(153, 155, 166);
    --color4: rgb(180, 181, 191);
    --color5: rgb(255, 255, 255);
}

/* body */

body {
    height: 100vh;
}

/* header / nav */

header {
    background-color: var(--color1);
    height: 4.93em;
    position: sticky;
    top: 0em;
}

@media (max-width:970px) {
    header {
        display: none;
    }
}

.nav-header {
    height: 100%;
    padding-right: 9.22em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    gap: 5.22em;
    list-style: none;
}

.item-menu {
    font-size: 1.37em;
}

.item-nav {
    font-family: var(--font2);
    color: var(--color5);
    text-decoration: none;
}

/* main */

main {
    height: 100%;
}

/* about me - sección */

.about-section {
    display: flex;
    justify-content: center;
    padding: 61px 100px;
}


.container-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-about-info {
    display: flex;
    flex-direction: column;
}

.hola-about {
    font-family: var(--font2);
    color: var(--color2);
    font-size: 2rem;
    font-weight: 500;
}

.nombre-about {
    font-family: var(--font2);
    font-size: 3rem;
    font-weight: 900;
}

.descripción-about {
    font-family: var(--font1);
    font-size: 1.01rem;
    font-weight: 200;
}

.container-img-about {
    max-width: 20%;
}

.about-me-img {
    max-width: 100%;
}